@import "~@politico/interactive-style/vars.scss";

.styles :global {
  .ex__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $politico-dark-red;
    fill: none;
    animation: spinnerStroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .ex {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px $politico-dark-red;
    animation: exFill .4s ease-in-out .4s forwards, spinnerScale .3s ease-in-out .9s both;
  }
  .ex__ex {
    transform-origin: 50% 50%;
    stroke-dasharray: 29;
    stroke-dashoffset: 29;
    animation: spinnerStroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
}
